db/

#cached builds
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.dll
*.egg
*.sqlite3
*.sqlite3.bak
*.egg-info/

.coverage
/sas/bin
/sas/lib64
/sas/lib
/sas/man
/sas/share/
/sas/pyvenv.cfg
/sas/booking/migrations
/sas/pip-selfcheck.json
/sas/cover
