{% extends 'sas/base.html' %}

{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_messages %}

{% block title %}{% trans "My name" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-8 col-sm-6 col-md-6 col-md-offset-3 col-xs-offset-2 col-sm-offset-3">
        <h1 class="text-center">{% trans "Frequently Asked Questions" %}</h1>
        <hr class="star-light">
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="intro-text">
            <p class="faq-content question"><span class="question-number">1)</span> Sou aluno da UnB, mas não estou
                cursando nenhuma disciplina no campus Gama. Posso utilizar o sistema mesmo assim?
            </p>
            <p class="faq-content answer">Não. No momento este sistema está voltado apenas para alocação de salas
                do Campus UnB Gama - FGA.
            </p>

            <p class="faq-content question"><span class="question-number">2)</span> Porque não aparece em minhas
                reservas a reserva que acabei de fazer de um laboratório/auditório?
            </p>
            <p class="faq-content answer">A reserva de laboratório/auditório precisa da aprovação de um coordenador.
                Assim que sua reserva for aprovada, aparecerá em "Minhas Reservas".
            </p>

            <p class="faq-content question"><span class="question-number">3)</span> Posso fazer reserva para qualquer
                dia da semana?
            </p>
            <p class="faq-content answer">Sim, qualquer dia e horário.
            </p>

            <p class="faq-content question"><span class="question-number">4)</span> Como faço para reservar toda segunda
                e quarta durante 3 meses e só em uma certa data reservar uma terça-feira?
            </p>
            <p class="faq-content answer">Uma reserva só pode possuir uma frequência para dias da semana. Dessa forma é
                necessário criar outra reserva com a data para a terça-feira desejada.
            </p>

            <p class="faq-content question"><span class="question-number">5)</span> Com faço pra alterar a data da
                minha reserva?
            </p>
            <p class="faq-content answer">Uma reserva depois de finalizada não pode ser alterada, sendo necessário
                excluí-la e depois refazer uma nova reserva com a data desejada.
            </p>
        </div>
    </div>
</div>
{% endblock %}
