{% load i18n user_extras %}

<!-- Menu -->
<div class="navbar navbar-custom" role="navigation">
   <div class="container">
       <div class="navbar-header">
           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
           </button>
       </div>
       <div class="collapse navbar-collapse navbar-ex1-collapse">
         <ul class="nav navbar-nav">
             <li><a href="{% url 'index' %}">{% trans "Home" %}</a></li>
             <li><a href="{% url 'booking:searchbookingtable' %}">{% trans "Search" %}</a></li>
             {% if not request.user|is_admin and request.user.is_authenticated %}
             <li><a href="{% url 'booking:newbooking' %}">{% trans "Book a Place" %}</a></li>
             {% endif %}
             <!-- IF request.user is ADM -->
               {% if request.user|is_admin %}
               <ul class="nav navbar-nav pull-right">
                   <li class="dropdown">
                       <a href="#" class="dropdown-toggle" type="button" id="user-link"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                          {% trans "Bookings" %}
                           <span class="caret"></span>
                       </a>
                       <ul class="dropdown-menu pull-right" aria-labelledby="user-link">
                         <li class="user-menu-info"><a href="{% url 'booking:newbooking' %}">
                           <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                            {% trans "Book a Place" %}</a></li>
                           <li class="user-menu-info"><a href="{% url 'booking:allbookings' %}">
                             <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                            {% trans "View All Bookings" %}</a></li>
                           <li class="user-menu-info"><a href="{% url 'booking:pendingbookings' %}">
                             <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                            {% trans "Requests" %}</a></li>
                           <li role="separator" class="divider"></li>
                       </ul>
                   </li>
               </ul>
               <li><a href="{% url 'user:searchuser' %}">{% trans "Users" %}</a></li>
               {% endif %}
             <li><a href="#">FAQ</a></li>
         </ul>
         {% if request.user.is_authenticated %}
         <ul class="nav navbar-nav pull-right">
             <li class="dropdown">
                 <a href="#" class="dropdown-toggle" type="button" id="user-link"
                     data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                     {% trans "Hi" %}, {{ user.profile_user.full_name }}
                     <span class="caret"></span>
                 </a>
                 <ul class="dropdown-menu pull-right" aria-labelledby="user-link">
                     <li class="user-menu-info"><a href="{% url 'user:edituser' %}">
                       <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                      {% trans "Personal Data" %}</a></li>
                     <li class="user-menu-info"><a href="{% url 'booking:searchbooking' %}">
                       <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                      {% trans "My Bookings" %}</a></li>
                     <li role="separator" class="divider"></li>
                     <li class="user-menu-info"><a href="{% url 'user:logout' %}">
                       <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                       {% trans "Logout" %}</a></li>
                 </ul>
             </li>
         </ul>
         {% else %}
         <ul class="nav navbar-nav pull-right">
             <li>
              <a id="enter-button" class="btn btn-success" data-toggle="modal" href="{% url 'index' %}?showLoginModal=yes">
                {% trans "Sign In | Sign Up" %}
              </a>
             </li>
         </ul>
         {% endif %}
     </div>
   </div>
</div>
<!--end menu -->
