{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_messages %}

<!DOCTYPE html>
<html>
{%  block head %}
{% endblock %}

 <!-- Navigation -->
 <div class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
                <li><a href="/sas">Início</a></li>
                <li><a href="#">Pesquisa</a></li>
                <li><a href="#">Reservas</a></li>
                <li><a href="#">FAQ</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false" id="user-link">Hi, {{ user.profile_user.full_name }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="user-menu-info"><a href="/user/edituser">Meus dados</a></li>
                        <li class="user-menu-info"><a href="#">Minha reserva</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="user-menu-info"><a href="/user/logout">Sair</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
  </div>

{% block body %}
{% endblock %}

<footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-sm-6">
                        <img src="../../static/images/fga_logo.png">
                        <p><strong>Universidade de Brasília - Faculdade Gama</strong> <br>
                            Área Especial de Indústria Projeção A Brasília</p>
                    </div>
                    <div class="footer-col col-sm-6">
                        <h3>Contato</h3>
                        <p>Telefone: (61) 3107-8901</p>
                        Email (secretaria): <a href="mailto:unbgama@unb.br">unbgama@unb.br</a> <br>
                        Email (direção): <a href="mailto:direcaofga@unb.br">direcaofga@unb.br</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</html>
