{% extends 'booking/baseVisitor.html' %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_messages %}

<!DOCTYPE html>
<html>
{% block head %}
    {% block title %}
        <title>SAS - UnB</title>

        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'style/base.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'style/user.css' %}" />
    {% endblock %}
{% endblock %}

{% block body %}
    <div class="col-lg-12 page-content">
        <h1 class="content-title">Reserva de Espaços</h1>
        <hr class="star-light">
        <div class="form-content">
           <div class="modal-body">
                <div class="row">
                    <div class="modal-col col-xs-12">
                        <form method="POST" id="passwordForm">
                            <div class="control-group">
                                <label class="control-label">Nome para a reserva:</label>
                                <input class="form-control" type="password" name="password" id="password">
                            </div>
                            <div class="control-group">
                                <label class="control-label">Prédio:</label>
                                <input class="form-control" type="password" name="new-password" id="new-password">
                            </div>
                            <div class="control-group">
                                <label class="control-label">Espaço:</label>
                                <input class="form-control" type="password" name="renew-password" id="renew-password">
                            </div>
                            <div class="control-group">
                                <label class="control-label">Data de Início:</label>
                                <input class="form-control" type="password" name="renew-password" id="renew-password">
                            </div>
                            <div class="control-group">
                                <label class="control-label">Data de Fim:</label>
                                <input class="form-control" type="password" name="renew-password" id="renew-password">
                            </div>
                            <div class="control-group">
                                <label class="control-label">Horário Inicial:</label>
                                <input class="form-control" type="password" name="renew-password" id="renew-password">
                            </div>
                            <div class="control-group">
                                <label class="control-label">Horário Final:</label>
                                <input class="form-control" type="password" name="renew-password" id="renew-password">
                            </div>
                            <div class="control-group">
                                <label class="control-label">Dias da Semana:</label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}
</html>
