{% extends 'booking/base.html' %}

{% load bootstrap3 %}
{% bootstrap_messages %}

{% block content %}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="intro-text">
            <h2>Bem-Vindo, {{ user.profile_user.full_name }}</h2>
            <span class="name">Sistema de Alocação de Salas</span>
            <hr class="star-light">
            <span class="skills">Reservas de salas, auditórios e laboratórios para docentes, discentes <br>
            e todo o corpo acadêmico da universidade.</span>
        </div>
    </div>
</div>
{% endblock %}
