{% extends 'booking/baseVisitor.html' %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_messages %}

<!DOCTYPE html>
<html>
{%  block head %}
    {% block title %}
        <title>SAS - UnB</title>

        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'style/base.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'style/index.css' %}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% endblock %}
{% endblock %}

{% block body %}
<div class="content">
    <!-- Modal -->
	{% if form.errors %}
		<script type="text/javascript">
			$(window).load(function(){
				$('#sign').modal('show');
			});
		</script>
	{% endif %}
    <div class="modal fade" id="sign" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <p class="modal-title" id="myModalLabel">Login</p>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="modal-col col-xs-6">
                            <div class="well">
                                <form id="loginForm" method="POST" action="/user/login/">
                                    {% csrf_token %}
									{% bootstrap_form form %}
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="remember" id="remember"> Lembrar dados
                                        </label>
                                    </div>
									{% bootstrap_form_errors form %}
                                    {% buttons %}
                                        <button type="submit" class="btn btn-success btn-block">Entrar</button>
                                    {% endbuttons %}
                                    <div class="forgot-password">
                                        <a href="#forgot-password" data-toggle="modal" onclick="hideSignModal()">Esqueci minha senha</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-col col-xs-6">
                            <p class="lead">Ainda não tenho cadastro</p>
                            <ul class="list-unstyled" style="line-height: 2">
                                <li>Usuário cadastrado pode reservar:</li> <br>
                                <li><span class="glyphicon glyphicon-ok text-success"></span> Laboratórios</li>
                                <li><span class="glyphicon glyphicon-ok text-success"></span> Auditórios</li>
                                <li><span class="glyphicon glyphicon-ok text-success"></span> Salas</li>
                            </ul>
                            <p><a href="/user/newuser/" class="btn btn-info btn-block">Cadastrar</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" role="dialog" id="forgot-password">
        <div class="modal-dialog">
            <div class="modal-content content-password">
               <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <p class="modal-title" id="myModalLabel">Esqueci minha senha</p>
                </div>
                <div class="modal-body modal-password">
                    <div class="row">
                        <div class="modal-col col-password col-xs-12">
                            <p class="description">Digite o seu e-mail e uma mensagem automática será enviada ao seu
                            e-mail com uma nova senha. A mesma deve ser trocada posteriormente.</p>
                            <div class="control-group">
                                <label class="control-label">Email:</label>
                                <input class="form-control" type="email" name="password" id="password">
                            </div>
                            <div class="modal-footer">
                                <a href="#" class="btn btn-success btn-email btn-block">Recuperar Senha</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 page-content">
                    <div class="intro-text">
                        <span class="name">Sistema de Alocação de Salas</span>
                        <hr class="star-light">
                        <span class="skills">Reservas de salas, auditórios e laboratórios para docentes, discentes <br>
                        e todo o corpo acadêmico da universidade.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {% block footer %}
    {% endblock %}

    <script>
        function hideSignModal() {
            $('#sign').modal('hide');
        }
    </script>
</div>
{% endblock %}
</html>
