{% extends 'sas/base.html' %}

{% load i18n %}
{% load bootstrap3 staticfiles %}
{% bootstrap_messages %}

{% block title %} {% trans "New Booking" %} {% endblock %}


{% block content %}
    <div class="row">
	    <div id="con" class="col-xs-8 col-sm-6 col-md-6 col-md-offset-3 col-xs-offset-2 col-sm-offset-3">
            <h1 class="text-center">{% trans "New Booking" %}</h1>
            <hr class="star-light"></hr>
            <div id="breadcrumbs">
                <ul class="bread-crumbs">
                    <li>
                        {% trans "Data" %}
                    </li>
                    <li>
                        {% trans "Date" %}
                    </li>
                    <li>
                        {% trans "Building" %}
                    </li>
                    <li>
                        {% trans "Espace" %}
                    </li>
              <!-- Job complete -->
                    <li>
                        {% trans "Finish" %}
                    </li>
                </ul> 
            </div>
            <div id="page1" class="form-content">
                <div class="form-group">
                    <label class="control-label" id="id_name">Nome da reserva</label>
                    <input class="form-control" type="text" \>
                </div>
            </div>
            <div id="page2" class="form-content">
                <table class="place">
                    <tr>
                        <td class="place-span">UAC</td>
                        <td class="place-span">UED</td>
                    </tr>
                </table>
                <button id="next-place" class="btn btn-primary" value="Next">Next</button>
            </div>
             <div id="page3" class="form-content">
                <table id="booking-places" class="place">
                    <tr>
                        <td class="place-span">UAC</td>
                        <td class="place-span">UED</td>
                        <td class="place-span">TES</td>
                    </tr>
                </table>
            </div>
		</div>
	</div>
{% endblock %}


{% block extrastyle %}
<link rel="stylesheet" href="{% static 'plugins/datepicker/bootstrap-datepicker.css' %}" />
<link rel="stylesheet" href="{% static 'booking/css/newbooking.css' %}" />
{% endblock %}

{% block extrajs %}
{% endblock %}
