{% extends 'sas/base.html' %}

{% load i18n %}
{% load bootstrap3 staticfiles %}
{% bootstrap_messages %}

{% block title %} {% trans "New Booking" %} {% endblock %}


{% block content %}
    <div class="row">
	    <div id="con" class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
            <h1 class="text-center">{% trans "New Booking" %}</h1>
            <hr class="star-light"></hr>
            <div id="breadcrumbs">
                <ul class="bread-crumbs">
                    <li>
                        <i class="glyphicon glyphicon-pencil"></i>
                        {% trans "Title" %}
                    </li>
                    <li>
                        <i class="glyphicon glyphicon-calendar"></i>
                        {% trans "Date" %}
                    </li>
                    <li>
                        <i class="glyphicon glyphicon-home"></i>
                        {% trans "Building" %}
                    </li>
                    <li>
                        <i class="glyphicon glyphicon-tent"></i>
                        {% trans "Espace" %}
                    </li>
              <!-- Job complete -->
                    <li>
                        <i class="glyphicon glyphicon-ok-sign"></i>
                        {% trans "Finish" %}
                    </li>
                </ul> 
            </div>
            <div id="page1" class="form-content">
                <div class="form-group">
                    <label class="control-label" id="id_name">Nome da reserva</label>
                    <input id="name_of_booking" class="form-control" type="text" \>
                </div>
                <button id="next-date" class="btn btn-primary btn-newbooking" value="Next">Next</button>
            </div>
            <div id="page2" class="form-content container">
                <input type="radio" name="times" value="oneday" checked /> {% trans "Just one day" %}
                <input type="radio" name="times" value="interval" /> {% trans "Interval" %}
                <div id="one-day">
                    <div class="form-group newbooking-dates">
                        <label class="control-label" for="id_start_date">Date:</label>
                        <input class="form-control newbooking-dates-input datepicker1" id="id_one_day_date" name="start_date" placeholder="mm/dd/yyyy" title="" type="text" required="">
                    </div>
                </div>
                <div id="period-dates" class="row">
                    <div class="form-group col-xs-12 col-md-6 newbooking-dates">
                        <label class="control-label" for="id_start_date">Start Date:</label>
                        <input class="form-control newbooking-dates-input datepicker1" id="id_start_date" name="start_date" placeholder="mm/dd/yyyy" title="" type="text" required="">
                    </div> 
                    <div class="form-group col-xs-12 col-md-6 newbooking-dates">
                        <label class="control-label" for="id_end_date">End Date:</label>
                        <input class="form-control newbooking-dates-input datepicker1" id="id_end_date" name="end_date" placeholder="mm/dd/yyyy" title="" type="text" required="">
                    </div>
                </div>
                <div id="times" class="row">
                    <div class"booking-slider col-xs-12 col-md-6">
                        <label>{% trans "Begin Time" %}</label>
                        <div class="col-xs-6">
                            <div id="slider_begin_time" ></div>
                        </div>
                        <input id="input_slider_begin_time" type="text" />
                    </div>
                    <div class"booking-slider col-xs-12 col-md-6">
                        <label>{% trans "End Time" %}</label>
                        <div class="col-xs-6">
                            <div id="slider_end_time" ></div>
                        </div>
                        <input id="input_slider_end_time" type="text" />
                    </div>
                </div>
                <div id="id_week_days">
                    <div>
                        <div class="checkbox newbooking-checkbox">
                            <label for="id_week_days_0">
                                <input class="" id="id_week_days_0" name="week_days" title="" type="checkbox" value="0"> Monday
                            </label>
                        </div>
                        <div class="checkbox newbooking-checkbox">
                            <label for="id_week_days_1">
                                <input class="" id="id_week_days_1" name="week_days" title="" type="checkbox" value="1"> Tuesday
                            </label>
                        </div>
                    </div>
                    <div>
                        <div class="checkbox newbooking-checkbox">
                            <label for="id_week_days_2">
                                <input class="" id="id_week_days_2" name="week_days" title="" type="checkbox" value="2"> Wednesday
                            </label>
                        </div>
                        <div class="checkbox newbooking-checkbox">
                            <label for="id_week_days_3">
                                <input class="" id="id_week_days_3" name="week_days" title="" type="checkbox" value="3"> Thursday
                            </label>
                        </div>
                    </div>
                    <div>
                        <div class="checkbox newbooking-checkbox">
                            <label for="id_week_days_4">
                                <input class="" id="id_week_days_4" name="week_days" title="" type="checkbox" value="4"> Friday
                            </label>
                        </div>
                        <div class="checkbox newbooking-checkbox">
                            <label for="id_week_days_5">
                            <input class="" id="id_week_days_5" name="week_days" title="" type="checkbox" value="5"> Saturday
                            </label>
                        </div>
                    </div>
                    <div>
                        <div class="checkbox newbooking-checkbox">
                            <label for="id_week_days_6">
                                <input class="" id="id_week_days_6" name="week_days" title="" type="checkbox" value="6"> Sunday
                            </label>
                        </div>
                    </div>
                </div> 
                <button class="btn btn-primary btn-newbooking btn-back" value="2">{% trans "Back" %}</button>
                <button id="next-building" class="btn btn-primary btn-newbooking" value="Next">Next</button>
            </div>
            <div id="page3" class="form-content">
                <table id="booking-buildings" class="place">
                    <tr>
                    </tr>
                </table>
                <button class="btn btn-primary btn-newbooking btn-back" value="3">{% trans "Back" %}</button>
                <button id="next-place" class="btn btn-primary btn-newbooking" value="Next">Next</button>
            </div>
             <div id="page4" class="form-content">
                <table id="booking-places" class="place">
                    <tr>
                    </tr>
                </table>
                <button class="btn btn-primary btn-newbooking btn-back" value="4">{% trans "Back" %}</button>
                <button id="next-finish" class="btn btn-primary btn-newbooking" value="Next">Next</button>

            </div>
            <div id="page5" class="form-content">
                <button id="next-finish" class="btn btn-primary btn-newbooking" value="Next">Next</button>

            </div>
		</div>
	</div>
{% endblock %}


{% block extrastyle %}
<link rel="stylesheet" href="{% static 'plugins/datepicker/bootstrap-datepicker.css' %}" />
<link rel="stylesheet" href="{% static 'booking/css/newbooking.css' %}" />
{% endblock %}

{% block extrajs %}
{% endblock %}
