{% extends 'sas/base.html' %}

{% load i18n %}
{% load bootstrap3 staticfiles %}
{% load settings_js %}
{% bootstrap_messages %}

{% block title %} {% trans "New Booking" %} {% endblock %}


{% block content %}
	<div class="row">
		<div class="col-xs-8 col-sm-6 col-md-6 col-md-offset-3 col-xs-offset-2 col-sm-offset-3">
			<h1 class="text-center">{% trans "Rooms Booking" %}</h1>
			<hr class="star-light">
			<div class="form-content" >
			   <form class="form-horizontal" method = 'POST'>
					{% csrf_token %}
					{% bootstrap_form form_booking %}
					{% buttons %}
						<button class="btn btn-info btn-block" type = 'submit'>{% trans "Perform Booking" %}</button>
					{% endbuttons %}
				</form>
			</div>
		</div>
	</div>
{% endblock %}


{% block extrastyle %}
<link rel="stylesheet" href="{% static 'jquery/ui/jquery-ui.min.css' %}" />
<link rel="stylesheet" href="{% static 'plugins/selectize/css/selectize.bootstrap3.min.css' %}" />
{% endblock %}

{% block extrajs %}
<script src="{% static 'plugins/selectize/js/selectize.min.js' %}"></script>
<script type="text/javascript">
$(document).ready(function () {

	$(".selectize").selectize({
	    delimiter: ',',
	    persist: false,
	    maxItems:1,
	    create: function(input) {
	        return {
	            value: input,
	            text: input
	        }
	    }
	});

  	$('.optional').closest('div').hide();

	$('.datepicker1').datepicker({
			inline: true,
			useCurrent: true,
			format: '{% trans "mm/dd/yyyy" %}',
			language: '{% trans "en" %}',
			autoclose: true,
	});

    $('#id_building').change(function () {
				$("#id_place").prop('selectedIndex',0);
        var selected_building = $(this).find(":selected").text();
				$("#id_place option").hide();
				$("#id_place option").filter(function(){
				    return $.trim($(this).text()).indexOf(selected_building) != -1
				}).show();
    });

		$('#id_date_options').change(function () {
			var selected_option = $('input[name=date_options]:checked', '.form-horizontal').val();
			var start_date = '{{ start_semester|js_date }}';
			var end_date = '{{ end_semester|js_date }}';

			if(selected_option == 'opt_date_semester'){
				$("#id_start_date").val( start_date );
				$("#id_end_date").val( end_date );
				$("#id_end_date, #id_start_date").closest('div').hide();
				$("#id_end_date, #id_start_date").prop('required',false);
			}
			if(selected_option == 'opt_select_date'){
				$("#id_start_date").val( "" );
				$("#id_end_date").val( "" );
				$("#id_start_date, #id_end_date").closest('div').show();
				$("#id_start_date, #id_end_date").prop('required',true);
			}
    });

});
</script>
<script src= "{% static 'jquery/ui/jquery-ui.min.js' %}"></script>
<script src= "{% static 'plugins/datepicker/locales/bootstrap-datepicker.pt-BR.min.js' %}"></script>
{% endblock %}
