{% extends 'booking/base.html' %}

{% load bootstrap3 %}
{% block title %}Cadastrar usuário{% endblock %}


{% block content %}
    <h1 class="content-title">Novo Usuário</h1>
    <hr class="star-light">
    <div class="form-content" style="overflow:auto;height: 50%;">
       <form class="form-horizontal" method = 'POST'>
            {% csrf_token %}
            {% bootstrap_form form_user %}
            {% buttons %}
                <button class="btn btn-info btn-block" type = 'submit'>Cadastrar</button>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}
