{% extends 'booking/base.html' %}

{% load bootstrap3 %}
{% bootstrap_messages %}

{% block content %}
    <div class="row">
      <div class="col-xs-8 col-sm-6 col-md-4 col-md-offset-4 col-xs-offset-2 col-sm-offset-3">
        <h1 class="text-center">Novo Usuário</h1>
        <hr class="star-light">
        <div class="form-content">
           <form class="form-horizontal" method = 'POST'>
                {% csrf_token %}
                {% bootstrap_form form_user %}
                {% buttons %}
                    <button class="btn btn-info btn-block" type = 'submit'>Cadastrar</button>
                {% endbuttons %}
            </form>
        </div>
      </div>
    </div>
{% endblock %}
