{% extends 'sas/base.html' %}

{% load i18n %}
{% load bootstrap3 staticfiles %}
{% bootstrap_messages %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static "style/bookingtable.css" %}">
{% endblock %}

{% block title %} {% trans "Template Bookings Reports" %} {% endblock %}


{% block content %}
<h1>{{ bookings }}</h1>
<hr class="star-light">
<br>
<div class='col-xs-12'>
  <table border='0' cellpadding='0' cellspacing='0'>
      <tr class='days'>
        <th></th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
      </tr>
    <tr>
      <td class='time'>08:00</td>
      <td class='cs335 blue' data-tooltip='Software Engineering &amp; Software Process'>CS335 [JH1]</td>
      <td class='cs426 purple' data-tooltip='Computer Graphics'>CS426 [CS1]</td>
      <td></td>
      <td></td>
      <td>-</td>
    </tr>
    <tr>
      <td class='time'>10:00</td>
      <td></td>
      <td class='cs335 blue lab' data-tooltip='Software Engineering &amp; Software Process'>CS335 [Lab]</td>
      <td class='md352 green' data-tooltip='Multimedia Production &amp; Management'>MD352 [Kairos]</td>
      <td></td>
      <td>-</td>
    </tr>
    <tr>
      <td class='time'>12:00</td>
      <td></td>
      <td class='cs335 blue lab' data-tooltip='Software Engineering &amp; Software Process'>CS335 [Lab]</td>
      <td class='md352 green' data-tooltip='Multimedia Production &amp; Management'>MD352 [Kairos]</td>
      <td class='cs240 orange' data-tooltip='Operating Systems'>CS240 [CH]</td>
      <td>-</td>
    </tr>
    <tr>
      <td class='time'>14:00</td>
      <td></td>
      <td class='md303 navy' data-tooltip='Media &amp; Globalisation'>MD303 [CS2]</td>
      <td class='md313 red' data-tooltip='Special Topic: Multiculturalism &amp; Nationalism'>MD313 [Iontas]</td>
      <td></td>
      <td>-</td>
    </tr>
    <tr>
      <td class='time'>16:00</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>-</td>
    </tr>
    <tr>
      <td class='time'>18:00</td>
      <td></td>
      <td></td>
      <td class='cs426 purple' data-tooltip='Computer Graphics'>CS426 [CS2]</td>
      <td class='cs240 orange' data-tooltip='Operating Systems'>CS240 [TH1]</td>
      <td>-</td>
    </tr>
    <tr>
      <td class='time'>20:00</td>
      <td></td>
      <td></td>
      <td></td>
      <td class='cs240 orange lab' data-tooltip='Operating Systems'>CS240 [Lab]</td>
      <td>-</td>
    </tr>
    <tr>
      <td class='time'>22:00</td>
      <td></td>
      <td></td>
      <td></td>
      <td class='cs240 orange lab' data-tooltip='Operating Systems'>CS240 [Lab]</td>
      <td>-</td>
    </tr>
    <tr>
      <td class='time'>24:00</td>
      <td class='cs335 blue' data-tooltip='Software Engineering &amp; Software Process'>CS335 [TH1]</td>
      <td></td>
      <td></td>
      <td></td>
      <td>-</td>
    </tr>
  </table>
</div>

{% endblock %}
