{% extends 'sas/base.html' %}

{% load i18n %}
{% load bootstrap3 staticfiles %}
{% load check_table %}
{% bootstrap_messages %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static "style/bookingtable.css" %}">
{% endblock %}

{% block title %} {% trans "Template Bookings Reports" %} {% endblock %}


{% block content %}
<h1>{{ name }}</h1>

<table border=10>
  <thead>
    <tr><th colspan="{{ n  }}">Horário</th></tr>
    <tr>
    <th></th>
      {% for day in days %}
        <th>{{ day }}</th>
      {% endfor %}
    </tr>
  </thead>
  
  <tbody>
    {% for id,hour in hours %}  
      <tr>
         <td> <strong>{{hour}}</strong></td>
           {% for cell_table in table %}
              {% if not cell_table%}
                <td> Livre.</td>
              {% else%}
                <td>{% check_table cell_table id %}</td>  
              {% endif %}
           {% endfor %}
      </tr>        
    {% endfor %}
  </tbody>
</table>

{% endblock %}
