{% extends 'sas/base.html' %}

{% load i18n user_extras %}
{% load bootstrap3 staticfiles %}
{% bootstrap_messages %}

{% block extrastyle %}
  <link rel="stylesheet" href="{% static "plugins/datatables/jquery.dataTables.css" %}">
  <link rel="stylesheet" href="{% static "plugins/datatables/dataTables.bootstrap.css" %}">
  <link rel="stylesheet" href="{% static "plugins/datatables/extensions/Responsive/css/dataTables.responsive.css" %}">
{% endblock %}

{% block title %}{% trans "Users" %}{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-10 col-md-offset-1 col-sm-offset-1">
      <h1 class="text-center">{% trans "Users" %}</h1>
      <hr class="star-light">
      <div>
        <table id="users" class="table table-striped table-bordered " cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Registration Number" %}</th>
                <th>{% trans "Category" %}</th>
                <th>{% trans "Type" %}</th>
                <th class="all">{% trans "Make an Admin" %}</th>
              </tr>
            </thead>
            <tbody>
            {% for user in users %}
              <tr>
                <td>{{ user.full_name }}</td>
                <td>{{ user.registration_number }}</td>
                <td>
                    {{ user|category }}
                </td>
                <td>
                    {{ user|type }}
                </td>
                <td>
                    {% if user.is_academic_staff %}
                    <button class="btn btn-primary" data-href="#"
                        data-toggle="modal" data-target="#modalMakeAnAdmin" id="make-an-admin">
                        <span class="glyphicon glyphicon-user" ></span> {% trans "Make an Admin" %}
                    </button>
                    {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <th>{% trans "Name" %}</th>
              <th>{% trans "Registration Number" %}</th>
              <th>{% trans "Category" %}</th>
              <th>{% trans "Type" %}</th>
              <th class="all">{% trans "Make an Admin" %}</th>
            </tr>
          </tfoot>
        </table>

          <!-- Modal -->
          <div class="modal fade" id="modalMakeAnAdmin" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="dialog">
              <div class="modal-content">
                <div class="modal-header delete-header">
                  <button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <p class="modal-title" id="myModalLabel">{% trans "Confirm making user an admin" %}</p>
                </div>
                <div class="modal-body delete-body">
                  <p>{% trans "Are you sure you want to make this user an admin?" %}</p>
                </div>
                <div class="modal-footer delete-footer">
                   <a class="btn btn-danger btn-ok" id="action-delete">
                    {% trans "Make an Admin" %}</a>
                  <a class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</a>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extrajs %}
<!-- DataTables -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables/extensions/Responsive/js/responsive.bootstrap.min.js' %}"></script>
<!-- page script -->
<script>
$('#modalMakeAnAdmin').on('show.bs.modal', function(e) {
    $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
});
  $(function () {

    var table = $('#users').DataTable({
      "paging": true,
      "lengthChange": true,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "language": {
                "url": "{% static 'plugins/datatables/Portuguese-Brasil.json' %}"
      }
    });

    // Apply the filtering
    table.columns().every( function () {
        var that = this;

        $( 'input', this.footer() ).on( 'keyup change', function () {
            if ( that.search() !== this.value ) {
                that
                    .search( this.value )
                    .draw();
            }
        } );
    } );

    new $.fn.dataTable.Responsive(table, {
      details: {
                display: $.fn.dataTable.Responsive.display.modal( {
                    header: function ( row ) {
                        var data = row.data();
                        var closing = '<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>'
                        return '<h2><i class="fa fa-fw fa-calendar-check-o"></i> Detalhes'+closing+'</h2>';
                    }
                } ),
                renderer: $.fn.dataTable.Responsive.renderer.tableAll( {
                    tableClass: 'table'
                } )
            }
    } );
  });

</script>
{% endblock %} 
