* {
    margin: 0;
    padding: 0;
}

html, body {
    height:100%;
}

body {
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.content-title {
  padding: 3em;
  text-align: center;
}

hr.star-light {
    padding: 0;
    border: none;
    border-color: #41733C !important;
    border-top: solid 5px;
    text-align: center;
    max-width: 20%;
    margin: -6em auto;
}

hr.star-light:after {
    content: "\f005";
    font-family: FontAwesome;
    display: inline-block;
    position: relative;
    top: -.8em;
    font-size: 1.5em;
    padding: 0 .25em;
    background-color: #41733C;
    color: #FFF;
}

.form-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  margin-top: 2em;
}

.form-horizontal {
  margin: auto;
  width: 50%;
}

.btn-block {
  margin: auto;
  width: 30%;
}
