* {
    margin: 0;
    padding: 0;
}

html, body {
    height:100%;
}

body {
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

/* Modal */
.modal-col {
    margin-top: 2em;
    margin-right: 1.5em;
    width: 48%;
}

/* Page Content */
.page-content {
    position: relative;
    top: 43%;
    left: 50%;
    height: 65%;
    transform: translate(-50%, -50%);
    width: 95%;
    margin: auto;
}

.content-title {
  padding-top: 1em;
  top: 0;
  text-align: center;
  margin: 0;
}

hr.star-light {
    padding: 0;
    border: none;
    border-color: #41733C !important;
    border-top: solid 5px;
    text-align: center;
    max-width: 12%;
    margin: 1.5em auto;
}

hr.star-light:after {
    content: "\f005";
    font-family: FontAwesome;
    display: inline-block;
    position: relative;
    top: -.8em;
    font-size: 1em;
    padding: 0 .25em;
    background-color: #41733C;
    color: #FFF;
}

.form-content {
  width: 80%;
  margin: auto;
  overflow: auto;
  height: 70%;
}

.form-horizontal {
  margin: auto;
  width: 50%;
}

.user-menu-info:hover,
.user-menu-info:focus,
.dropdown-menu: hover,
.dropdown-menu:focus,
.dropdown-menu: active {
  background-color: #2C3E50;
  color: #FFF;
}

.form-group:last-child {
  margin: auto
}

.button-div {
  float: left;
  padding-right: 2em;
  width: 50%;
}

.btn-block {
  margin: 1em auto;
  width: 50%;
}

.btn-edit {
  width: 100%;
}

.btn-delete {
  width: 25%;
  float: left;
  margin-top: 5.3em;
}

.btn-password {
  margin-bottom: 1em;
  width: 100%;
}
